body {
    background-color: rgb(223, 223, 223);
}

.container {
    width: 800px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap; /* Umožňuje zalomení řádku */
    gap: 1rem;
}

.heading {
    text-align: center;
    padding-top: 5rem 0;
}

